#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.kanban-pro {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px; /* Added padding */
  background-color: #00839a;
  box-sizing: border-box; /* Added box-sizing */

  h2.title {
    color: #fff;
    font-size: 2em;

    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: space-between; /* Changed to space-between */

    .item {
      height: 100%; /* Changed to 100% */
      min-height: 500px;
      width: 30%; /* Adjusted width */
      background: white;
      margin: 0 10px; /* Added margin */
      border-radius: 8px; /* Added border-radius */
      padding: 15px; /* Added padding */
      box-sizing: border-box; /* Added box-sizing */
      overflow-y: auto; /* Added scroll */
      overflow-x: hidden; /* Hidden scroll */

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        color: #000;
        padding: 10px;
        margin: -15px;
        margin-bottom: auto;
        border-radius: 8px 8px 0 0;

        gap: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .task-count {
          font-weight: 500;
          padding: 2px 8px; /* Optional, to add space inside the border */
          border-radius: 20px; /* Adjust the value as needed */
          font-size: 0.875rem;
          background-color: #f0f0f0; /* Optional, background color */
        }
      }

      &.todo h2 {
        background-color: #f08080; /* LightCoral */
      }

      &.inprogress h2 {
        background-color: #ffd700; /* Gold */
      }

      &.done h2 {
        background-color: #90ee90; /* LightGreen */
      }

      .tasks-wrapper {
        flex-grow: 1;
        margin-top: 10px;

        .task-item {
          color: #000;
          cursor: grab;
          padding: 8px;
          text-align: left;
          margin-bottom: 5px;
          font-family: cursive;
          background-color: #f0f0f0;

          gap: 32px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .task-details {
            font-weight: bold;
            word-break: break-all;
          }

          .task-date {
            margin-top: 6px;
            font-size: 12px;
            color: #757474;
            font-style: italic;
          }

          .task-actions {
            gap: 16px;
            display: flex;
            cursor: pointer;
          }
        }

        .task-item:active {
          cursor: grabbing;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .footer {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > * {
          /* Select all direct children of .footer */
          width: 100%; /* Make each child element full width */
          box-sizing: border-box; /* Include padding and border in the width */
        }

        input {
          padding: 10px;

          &:focus-visible {
            outline: 0;
          }
        }

        .add-task {
          gap: 10px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: darkblue;
        }
      }
    }
  }
}

/* Mobile View Styles */
@media (max-width: 900px) {
  .kanban-pro {
    overflow-y: auto; /* Keep vertical scroll */
  }

  .kanban-pro .container {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center columns horizontally */
  }

  .kanban-pro .container .item {
    width: 100%; /* Full width */
    margin: 10px 0; /* Add vertical spacing */
  }

  .kanban-pro .container .item:first-child {
    margin-left: 0; /* Reset left margin */
  }

  .kanban-pro .container .item:last-child {
    margin-right: 0; /* Reset right margin */
  }
}
